.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0 0 0 30px;
}

.movieRow--listarea {
  overflow-x: hidden;
  padding-left: 30px;
}

.movieRow--list {
  white-space: nowrap;
  transition: all ease 0.8s;
}

.movieRow--item {
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

.movieRow--item img{
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.2s;
  user-select: none;
}

.movieRow--item img:hover{
  transform: scale(1);
}

.movieRow--left,
.movieRow--right {
  position: absolute;
  width: 40px;
  height: 300px;
  transform: scaleY(0.9);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0;
  transition: all ease 0.2s;
}

.movieRow--left {
  left: 0;
}

.movieRow--right {
  right: 0;
}

.show-left,
.show-right{
  display: flex;
}

.movieRow:hover .show-left,
.movieRow:hover .show-right {
  opacity: 1;
}